
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  //--clr-primary: #ee6352;
  //--clr-primary:#b81365;
  --clr-primary:#ff6978;
  --clr-dark: #333;
  --clr-neutral: #ddd;
  --clr-light: #fff;
}

body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-neutral);
  overflow-x: hidden;
}

a { color: var(--clr-primary); }

.content {
  background: var(--clr-light);
  width: 70vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
}

.title {
  margin: 0 0 .5em;
  font-weight: 900;
  color: var(--clr-primary);
  line-height: .8;
}
#result {
    font-size:1.5rem;
    font-weight: bold;
}
button {
    background: var(--clr-primary);
    border:none;
    padding:.75rem;
    color:var(--clr-light);
    font-weight: bold;
    margin:1rem 0;
    border-radius: 15px;
    &:focus, &:active {
      outline:none;
      border:none;
    }
    font-size:1.5rem;
}