@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  //--clr-primary: #ee6352;
  --clr-primary:#1187fc;
  --clr-dark: #333;
  --clr-neutral: #ddd;
  --clr-light: rgb(235, 238, 255);
}


body {
  font-family: Inter, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-neutral);
  overflow-x: hidden;
}

a { color: var(--clr-primary); }

.content {
  background: var(--clr-light);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 .5em;
  font-weight: 900;
  color: var(--clr-primary);
  line-height: .8;
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background: var(--clr-primary);
    color: white;
    font-weight: 700;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .17);
    transition: background .5s;
}

button:hover {
    background: rgb(255, 0, 85);
    animation: shake .25s cubic-bezier(0.6, 0.04, 0.98, 0.335) infinite;
}
svg {
    fill: white;
}

@keyframes shake {
    0% {
        transform: translateX(2px);
    }
    33% {
        transform: translateX(4px)
    }
    66% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(1px);
    }
}