@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  //--clr-primary: #ee6352;
  --clr-primary:#1187fc;
  --clr-dark: #333;
  --clr-neutral: #ddd;
  --clr-light: #fff;
}


body {
  font-family: Inter, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-neutral);
  overflow-x: hidden;
}

a { color: var(--clr-primary); }

.content {
  background: var(--clr-light);
  width: 100vw;
  height: 100vh;
  display:grid;
}

.spin {
    margin: auto;
    width:30vw;
    height:30vw;
    background: var(--clr-primary);
    display: grid;
    border-radius: 50%;
}
.spin__text {
    margin: auto;
    color: var(--clr-light);
    font-weight: 700;
    font-size: 2.5vw;
    text-align: center;
}

.spin-spinning {
    animation: spin 1s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}