*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: basic-sans, sans-serif;
}

:root {
  //--clr-primary: #ee6352;
  --clr-primary:#1187fc;
  --clr-dark: #333;
  --clr-neutral: #ddd;
  --clr-light: #fff;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-neutral);
  overflow-x: hidden;
}

a { color: var(--clr-primary); }

.content {
  background: var(--clr-light);
  //width: 70vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
}

.title {
  margin: 0 0 .5em;
  font-weight: 900;
  color: var(--clr-primary);
  line-height: .8;
}

textarea {
    width: 100%;
}
button {
    padding:1rem 2rem;
    background: var(--clr-primary);
    color:var(--clr-light);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}
input {
    margin: .25rem 0;
}