*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: basic-sans, sans-serif;
}

:root {
    //--clr-primary: #ee6352;
  --clr-primary:#1187fc;
  --clr-dark: #333;
  --clr-neutral: #ddd;
  --clr-light: #fff;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-neutral);
  overflow-x: hidden;
}

a { color: var(--clr-primary); }

.content {
  background: var(--clr-light);
  width: 70vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
}

.title {
  margin: 0 0 .5em;
  font-weight: 900;
  color: var(--clr-primary);
  line-height: .8;
}
button {
    padding: 1rem 2rem;
    border: none;
    color:#333;
    transition: filter .5s;
    font-size: 1.35rem;
    font-weight: 700;
    &:hover {
        filter: brightness(1.25);
    }
}
.delete {
    display: grid;
    .delete__icon {
        fill: rgb(255, 0, 76);
        margin: 0 auto;
    }
    .delete__heading {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
    .delete_buttons {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        .yes {
            background: rgb(255, 0, 76);
            color: #fff;
        }
        .no {
            color:#fff;
            background: #333333;
        }
    }
}