@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: Oswald, sans-serif;
}

:root {
  //--clr-primary: #ee6352;
  --clr-primary:#1187fc;
  --clr-dark: #333;
  --clr-neutral: #ddd;
  --clr-light: #fff;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-neutral);
  overflow-x: hidden;
}

a { color: var(--clr-primary); }

.content {
  background: var(--clr-light);
  width: 95vw;
  max-width: 25rem;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  display: grid;
}

.title {
  margin: 0 0 .5em;
  font-weight: 900;
  color: var(--clr-primary);
  line-height: .8;
}

img.image {
  border-radius: 45%;
  border: 3px solid black;
  margin: 0 auto;

  transition: border-radius .4s;
  &:hover {
    border-radius: 50%;
  }
}

h3 {
  border-radius: 600;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-size: .85rem;
  margin: 1rem auto;
  opacity: .7;
}
h2 {
  border-radius: 600;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 1.125rem;
  margin: .5rem auto 2rem auto;
  opacity: .7;
}
p {
  font-size: .75rem;
  margin: .5rem auto ;
}
h1 {
  font-size: 4rem;
  text-align: center;
  margin: 1rem auto;
}

button {
  padding: 1rem 4rem;
  width: auto;
  justify-self: center;
  background: #202020;
  color: #fff;
  border: none;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
  border-radius: 600;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 1.125rem;
  margin: .5rem auto 2rem auto;
}